* {
    margin: 0;
    padding: 0;
}
.shop {
    width: 100%;
    height: 600px;
    margin-top: 30px;
    background-color: #E4E4E4;
    margin-top: 30px;
}
.shop1 {
    width: 60%;
    margin: auto;
    height: 250px;
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
}
.section > p {
    margin-top: 10px;
    font-size: 14px;
}
.section1 > p {
    margin-top: 10px;
    font-size: 14px;
}
.section2 > P {
    margin-top: 10px;
    font-size: 14px;
}
.section3 > :nth-child(1) {
    font-size: 14px;
}
.section3 > :nth-child(2) {
    margin-top: 40px;
}
.icons {
    width: 60%;
    margin: auto;
    margin-top: 20px;
}
.icons1 {
    width: 25%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.icons2 {
    margin-top: 30px;
    text-align: center;
}
.icons2 > :nth-child(2) {
    margin-top: 40px;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -5px;
}
.icons2 > :nth-child(3) {
    margin-top: 20px;
    font-size: 12px;
}