* {
    margin: 0;
    padding: 0;
}

.screen {
    width: 100%;
    height: 750px;
    background-color: grey;
    border: 1px solid blue;
}
.screen1 {
    width:40%;
    height: 720px;
    margin: auto;
    background-color: grey;
    
}
.screen2 {
    width:90%;
    height:670px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}
.screen3{
    width: 93%;
    margin: auto;
}
.screen4 {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.screen4 > h2 {
    margin-left: 50px;
    font-size: 30px;
    font-weight: lighter;
    margin-top: 0px;
}
.screen4 > p {
    margin-left: 170px;
    margin-top: 5px;
}
.become {
    font-size: 17px;
}
.email > p {
    font-size: 16px;
    text-align: left;
}
.email1 {
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    margin-top: 5px;
}
.password > p {
    font-size: 16px;
    text-align: left;
}
.password1 {
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    margin-top: 5px;
}
.password1 > p {
    margin-left: 87%;
    font-size: 16px;
    margin-top: 8px;
}
.char {
    color: gray;
    text-align: left;
}
.date {
    margin-top: 0px;
    font-size: 16px;
    text-align: left;
}
.date1 {
    display: flex;
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    margin-top: 5px;
}
.date1 > p {
    font-size: 16px;
    width: 50%;
    margin-top: 8px;
}
.date1 > p:nth-child(1) {
    margin-left: 100px;
}
.date1 > p:nth-child(5) {
    margin-right: 100px;
}
.want {
    font-size: 16px;
    color: gray;
    text-align: left;
}
.add {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
.add > p:nth-child(1) {
    font-size: 16px;
}
.check {
    width: 100%;
    display: flex;
    margin-top: 20px;
}
.check > p:nth-child(1) {
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    margin-left: 5px;
}
.check > p:nth-child(2) {
    font-size: 16px;
    margin-right: 25px;
}
.remember1 {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border: 1px solid gray;
    background-color: white;
}
.remember1 > p {
    color: black;
    font-size: 18px;
    margin-top: 12px;
}
.remember2 {
    width: 100%;
    height: 50px;
    border: 1px solid gray;
    margin-top: 20px;
    background-color: black;
}
.remember2 > p {
    font-size: 18px;
    margin-top: 10px;
    color: white;
}